# backup files
*.bak
*_bak
*~

# python binaries
__pycache__/
*.pyc

# ignore datasets and models
models/
datasets/

# ignore configuration file
config.yaml

# ignore deployment/platform-dependent script, (template script has .in extension)
crontab
launcher_app_wrapper.sh
