SUBSYSTEM=="gpio", KERNEL=="gpiochip*", ACTION=="add", PROGRAM="/bin/sh -c 'chown   :gpio   /sys/class/gpio/export   /sys/class/gpio/unexport                 ; chmod   ug+w   /sys/class/gpio/export   /sys/class/gpio/unexport'"
SUBSYSTEM=="gpio", KERNEL=="gpio*",     ACTION=="add", PROGRAM="/bin/sh -c 'chown   :gpio   /sys%p/active_low   /sys%p/direction   /sys%p/edge   /sys%p/value ; chmod   ug+rw  /sys%p/active_low   /sys%p/direction   /sys%p/edge   /sys%p/value'"
